.cell {
    width: 2%;
    padding-top: 2%;
    outline: 1px solid rgb(110, 220, 253);
    display: inline-block;
    vertical-align: top;
}

.cell-obstacle{
    background-color: grey;
    animation-name: paintToObstacle;
    animation-timing-function: ease-out;
    animation-duration: 0.25s;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;

}


.cell-start {
    background-color: orange;
    animation-name: paintToStart;
    animation-timing-function: ease-out;
    animation-duration: 0.25s;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.cell-end {
    background-color: purple;
    animation-name: paintToEnd;
    animation-timing-function: ease-out;
    animation-duration: 0.25s;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.cell-visited {
    background-color: rgb(38, 162, 184);
    animation-name: paintToVisited;
    animation-timing-function: ease-out;
    animation-duration: 0.25s;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.cell-considering {
    background-color: rgb(149, 181, 187);
    animation-name: paintToConsidering;
    animation-timing-function: ease-out;
    animation-duration: 0.25s;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}


.cell-path {
    background-color: rgb(66, 204, 47);
    animation-name: paintToPath;
    animation-timing-function: ease-out;
    animation-duration: 0.25s;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes paintToObstacle {
    from{background-color: white;}
    to {background-color: grey;}
}
@keyframes paintToStart {
    from{background-color: white;}
    to {background-color: orange;}
}
@keyframes paintToEnd {
    from{background-color: white;}
    to {background-color: purple;}
}
@keyframes paintToVisited {
    from{background-color: rgb(149, 181, 187);}
    to {background-color: rgb(38, 162, 184);}
}
@keyframes paintToConsidering {
    from{background-color: white;}
    to {background-color:  rgb(149, 181, 187);}
}

@keyframes paintToPath {
    from{background-color:rgb(38, 162, 184);}
    to {background-color:  rgb(66, 204, 47);}
}