.button {
    width: 150px;
    height: 25px;
    
    display: inline-block;
    vertical-align: top;
    padding: 8px;
    margin: 8px;
    background-color: rgb(25, 104, 107);
    border-radius: 10px;
}

.button-selected {
    background-color: rgb(39, 159, 163);
}

.button-text {
    vertical-align: middle;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
}

.button-extra-none {
    width: 20px;
    height: 20px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 50%;
}

.button-extra-obstacle {
    width: 20px;
    height: 20px;
    background-color: grey;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 50%;
}

.button-extra-start {
    width: 20px;
    height: 20px;
    background-color: orange;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 50%;
}

.button-extra-end {
    width: 20px;
    height: 20px;
    background-color: purple;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 50%;
}