
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}
 
.navbar .clickable {
  float: left;
  padding: 10px 16px;
}
.navbar .clickable:hover {
  color: red;
  cursor: pointer;
  color: white;
}
.navbar .selected {
  background-color: aqua;
  color: black;
}

.navbar span:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
   background-color: red;
   cursor: pointer;
}
  

.navbar .title {
  float: left;
  padding: 10px 16px;
  width: 100px;
  background-color: #444;
}